<div class="p-8">
  <div class="mb-4">
    <div class="flex flex-col gap-2">
        <label for="category">Category :</label>
        <select id="category" class="w-28 border p-1 rounded-lg">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
  </div>
  <!-- products -->
  <div class="grid grid-cols-4 gap-4">
    <div class="flex flex-col gap-3 border" *ngFor="let item of products">
      <div class="h-40 w-full">
        <img src="#" alt="img1" class="h-full w-full object-contain" />
      </div>
      <div class="flex flex-col gap-2 p-2">
        <h3 class="font-semibold text-xl">title</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
          blanditiis repellat iure eveniet, iste dicta porro amet enim nostrum
          dignissimos.
        </p>
      </div>
      <div class="flex items-center justify-between p-2">
        <span>22.4 $</span>
        <button class="p-2 bg-blue-500 rounded-lg hover:bg-blue-700 text-white">Add To Cart</button>
      </div>
    </div>
  </div>
</div>
